.wrapper {
    position: relative;
}

.gradient {
    position: absolute;
    bottom: 20vh;
    right: 20vw;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -3px;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #2e2e31, cccccc, #2e2e31);
    background-size: 70% 100%;
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    animation: shade 5s linear infinite;
}
@media (max-width: 768px) {
    .gradient {
        font-size: 14px;
    }
}

.rotating {
    color: #cccccc;
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: -3px;
}

.rotating:before,
.rotating:after {
    content: '';
    padding: 1.2em 0.6em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid red;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
    animation: 10s infinite alternate ease-in-out tipsy;
}

.rotating:before {
    border-color: #d9524a #d9524a rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    z-index: -1;
}

.rotating:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #d9524a #d9524a;
    box-shadow: 25px 25px 25px rgba(46, 46, 49, 0.8);
}

@keyframes tipsy {
    0% {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

@keyframes shade {
    0% {
        background-position-x: -500%;
    }
    100% {
        background-position-x: 500%;
    }
}
